@tailwind base;
@tailwind components;
@tailwind utilities;

@import './typography.scss';
@import './animate.scss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html {
  @apply w-full no-scrollbar bg-bottom bg-no-repeat bg-cover bg-[url('../../assets/bg.webp')];
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  @apply w-full flex flex-row justify-center bg-base-300/30 dark:bg-base-300/70;
}

#__plasmo {
  @apply w-[360px] min-h-[max(100dvh,600px)];
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
