@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 2.25em;
  font-weight: 800;
  line-height: 1.1111111;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3333333;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.6;
}

// h4 {
//   @apply text-3xl;
//   font-weight: 700;
// }

// h5 {
//   @apply text-xl;
//   font-weight: 700;
// }

// p {
//   @apply text-base;
//   font-weight: 400;
// }
